<%= form_for(@music_group) do |f| %>
  <% if @music_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music_group.errors.count, "error") %> prohibited this music_group from being saved:</h2>

      <ul>
      <% @music_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
City    <%= f.text_field :location_city %>
  </div>
  <div class="field">
State    <%= f.text_field :location_state %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :profile_photo_id %><br />
    <%= f.number_field :profile_photo_id %>
  </div>
  <div class="field">
    Genre
    <%=collection_select(:music_group, :genre_id, Genre.all, :id, :name)%>
  </div>
  <div class="field">
Date Group Formed: <%= f.date_select :date_formed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
